body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  border: 0;
  padding: 0;

}
header {
  padding: 2em 2em 2em 4em;
  color: #ffffff;
  background: #009999 url("../images/banner-image.jpg") center no-repeat;
}
nav {
  padding: 2em 2em 2em 5em;
  color: #000000;
  background-color: #d9d9d9;
}
main {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 0;
  padding: 0;
  margin: 0;
}
.left-column {
  grid-column: 1 / 2;
  display: block;
  margin: 2em;
  border: 0;
  padding: 4em 6% 4em 12%;
}
.right-column {
  grid-column: 2 / 3;
  display: block;
  margin: 2em;
  border: 0;
  padding: 4em 15% 4em 6%;
}
footer {
  display: flex;
  padding: 2em 1em 3em 1em;
  color: #ffffff;
  background: #333333 url("../images/footer-image.jpg") center no-repeat;
  align-items: center;
  flex-flow: column wrap;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 1.5em;
  font-style: italic;

}
h3 {
  line-height: 150%;
}
.hidden {
  display: none;
}
.nav {
  padding: 1em;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
a:link {
  color: #009999;
  font-weight: bold;
}
nav > a:link {
  color: #000000;
}
footer > p > a:link {
  color: #ffffff;
}
a:hover {
  background-color: #009999;
  color: #ffffff;
}
a:visited {
  color: #004d4d;
}
nav > a:visited {
  color: #000000;
}
footer > p > a:visited {
  color: #ffffff;
}
article {
  padding-bottom: 1.5em;
}
span {
  color: #00b3b3;
}
p {
  font-size: .9em;
  line-height: 150%;
}
.quote {
  color: #00b3b3;
  font-size: 1.3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  line-height: 150%;
}
img {
  max-width: 100%;
  height: auto;
}
.float-right {
  float: right;
  padding: 0 1em 1em 1em;
}
figure {
  margin: 1em 1em 2em 0;
}
figcaption {
  font-style: italic;
  font-size: .8em;
}
.thumbnail:hover {
  background-color: #009999;
}
.thumbnail {
  padding: .4em;
}
.fnav {
  padding: 1em;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
